/* MOBILE */

.iniciarSesion {
    align-items: center;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form label {
    display: block;
    margin: 10px 0 10px;
}

.iniciarSesion__formulario--titulo {
    color: #bdb5b5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    
    align-self: stretch;
    flex: none;
    flex-grow: 0;
    order: 0;
    padding-top: 7rem;
    padding-bottom: 1rem;
    text-align: center;
}

.input-form {
    background: #ffffff;
    border-radius: 8px;
    height: 41px;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 8px;
    width: 275px;
}

.input-form::placeholder {
    align-items: center;
    color: #A2A2A2;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 4px 4px;
    padding-left: 8px;
}

#entrar {
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 7rem;
}

/* TABLET */

@media screen and (min-width: 768px) {

    .iniciarSesion__formulario--form {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}

/* DESKTOP */
